.button-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.EditarDiv {
    background-image: url(/static/Imagenes/Editar.png);
}

.InabilitarDiv {
    background-image: url(/static/Imagenes/Inabilitar.jpg);
}

.HabilitarDiv {
    background-image: url(/static/Imagenes/Habilitar.png);
}

/* Otros estilos */
.titulo {
    font-size: 12pt;
    font-weight: bold;
    height: 30pt;
}
#marcoVistaPrevia {
    border: 1px solid #008000;
    width: 100px;
    height: 120px;
}
#vistaPrevia {
    max-width: 100px;
    max-height: 120px;
}
.InputsDiv {
    width: 150px;
    height: 25px;
    float: left;
}
.EspaciadorDiv {
    height: 8px;
    clear: both;
}
