body {
    background: url('https://www.argentina.gob.ar/sites/default/files/2022/09/tapa_bibliotecarios4.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.navbar {
    margin-bottom: 20px;
}

.table-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.table {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.table th, .table td {
    color: #000000;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.alert-success {
    background-color: rgba(40, 167, 69, 0.7);
    border-color: rgba(40, 167, 69, 0.7);
    color: #ffffff;
}
