body {
    padding-top: 20px;
}
.navbar {
    margin-bottom: 20px;
}
.table-container {
    margin-top: 20px;
}
.navbar-nav {
    flex-direction: row;
}
.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}
.footer {
    margin-top: 20px;
    text-align: center;
}